extends ../layout.pug

block content
  button.button#google Traer Datos de Google 
  .data

block scripts
  //- script(src="https://wzrd.in/standalone/uuid%2Fv4@latest")
  script(src="/scripts/firebase.js")